langchain==0.2.7
langchain-community==0.2.7 
langchainhub==0.1.20 
langchain-openai==0.1.14 
langchain-chroma==0.1.2 
bs4==0.0.2 
Flask==3.0.3 
openai==1.35.12
unstructured==0.14.10
tiktoken==0.7.0
tabulate==0.9.0